@use "animations/animations";
@use "common/common";

:root {
  --colot-primary: #027AFF;
  --color-primary-secondary: #00FFFF;
  --color-info: #7CC1FF;
  --color-hover: #1C8ADF;
  --color-warning: #FFBE44;
  --color-warning-secondary: #FEDB65;
  --background-color: #051135;
}